.scroll-button {
  border: 1px solid var(--secondary-text);
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  visibility: hidden;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.scroll-button.active {
  visibility: visible;
}

.arrow {
  padding: 5px;
  font-size: small;
}
