.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--main-text);
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding-bottom: 5em;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
}

a {
  text-decoration: none;
  color: var(--main-text);
}

@media screen and (max-width: 1399px) {
  .app-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 1023px) {
  .app-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 599px) {
  .app-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 321px) {
  .app-wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
}
