body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

* {
  scroll-behavior: smooth;
}

:root {
  --background-color: rgb(18, 18, 18);
  --secondary-background: rgb(82, 5, 123);
  --secondary-text: #9768ed;
  --main-text: #e6e9fd;
  --border-color: #d4f694;
  --secondary-shadow-text: #d4f694;
  --nav-underline: #94a3f6;
}
